
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Specific Metas
================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title and meta description
================================================== -->
  

<title>Form templates | U.S. Web Design System // Indian Affairs Intranet</title>
<meta property="og:title" content="Form templates | U.S. Web Design System // Indian Affairs Intranet">



<meta name="description" content="Patterns for some of the most commonly used forms on government websites">
<meta property="og:description" content="Patterns for some of the most commonly used forms on government websites">

<meta name="twitter:card" value="summary">
<meta name="twitter:site" content="@USWDS">
<meta property="og:type" content="article">






<link rel="canonical" href="https://designsystem.digital.gov/components/form-templates/">
<meta property="og:url" content="https://designsystem.digital.gov/components/form-templates/">



<!-- Favicons
================================================== -->
  <!-- 128x128 -->
  <link rel="shortcut icon" type="image/ico" href="../../assets/uswds-1.6.3/img/favicons/favicon.ico">
  <link rel="icon" type="image/png" href="../../assets/uswds-1.6.3/img/favicons/favicon.png">

  <!-- 192x192, as recommended for Android
  http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
  -->
  <link rel="icon" type="image/png" sizes="192x192" href="../../assets/uswds-1.6.3/img/favicons/favicon-192.png">

  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link rel="apple-touch-icon-precomposed" href="../../assets/uswds-1.6.3/img/favicons/favicon-57.png">
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/uswds-1.6.3/img/favicons/favicon-72.png">
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/uswds-1.6.3/img/favicons/favicon-114.png">
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/uswds-1.6.3/img/favicons/favicon-144.png">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="../../assets/uswds-1.6.3/css/uswds.css">

  </head>
  <body class="page-form-templates layout-styleguide ">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header site-header" role="banner">
  <!-- Gov banner BEGIN -->
<div class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner">
      <img src="../../assets/uswds-1.6.3/img/favicons/favicon-57.png" alt="U.S. flag">
      <p>An official website of the United States government</p>
      <button class="usa-accordion-button usa-banner-button"
        aria-expanded="false" aria-controls="gov-banner">
        <span class="usa-banner-button-text">Here’s how you know</span>
      </button>
      </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="../../assets/uswds-1.6.3/img/icon-dot-gov.svg" alt="Dot gov">
        <div class="usa-media_block-body">
          <p>
            <strong>The .gov means it’s official.</strong>
            <br>
            Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you're on a federal government site.
          </p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half">
        <img class="usa-banner-icon usa-media_block-img" src="../../assets/uswds-1.6.3/img/icon-https.svg" alt="SSL">
        <div class="usa-media_block-body">
          <p>
            <strong>The site is secure.</strong>
            <br> The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gov banner END -->


  <div class="usa-navbar site-header-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo site-logo" id="logo">
            <em class="usa-logo-text">
        <a href="../../green" title="Home" aria-label="U.S. Web Design System home">
          U.S. Web Design System // Indian Affairs Intranet
        </a>
      </em>
    </div>
    <ul class="usa-button-list usa-unstyled-list">
  
</ul>

  </div>
</header>  
<nav class="site-nav-secondary sticky">
  <ul>
    
  
  <li>
    
      

<a href="../../components/">
  <span>
    UI components
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../page-templates/">
  <span>
    Page templates
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../getting-started/">
  <span>
    Getting started
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../design-principles/">
  <span>
    Design principles
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../whats-new/">
  <span>
    What’s new
  </span>
</a>


    
  </li>


  </ul>
</nav>
<div class="usa-overlay"></div>

<nav role="navigation" class="usa-nav sidenav-mobile">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <img src="../../assets/uswds-1.6.3/img/close.svg" alt="close">
    </button>
    <ul class="usa-sidenav-list usa-accordion">
      
  <li>
  
  
    

<button class="usa-accordion-button" aria-controls="nav-ui-components"
  
  class="usa-current"
  aria-expanded="true"
  >
  UI components
</button>
<ul id="nav-ui-components" class="usa-sidenav-sub_list">
  
  
  
  <li>
    
      

<a href="../../components/">
  <span>
    Overview
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/typography/">
  <span>
    Typography
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/colors/">
  <span>
    Colors
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/accessibility/">
  <span>
    Accessibility
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/grids/">
  <span>
    Grids
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/buttons/">
  <span>
    Buttons
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/labels/">
  <span>
    Labels
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/tables/">
  <span>
    Tables
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/alerts/">
  <span>
    Alerts
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/accordions/">
  <span>
    Accordions
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/form-controls/">
  <span>
    Form controls
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/form-templates/" class="usa-current">
  <span>
    Form templates
  </span>
</a>

  


    
  </li>

  
  <li>
    
      

<a href="../../components/search-bar/">
  <span>
    Search bar
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/sidenav/">
  <span>
    Side navigation
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/headers/">
  <span>
    Headers
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/footers/">
  <span>
    Footers
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li>
  
  
    

<a href="../../page-templates/">
  <span>
    Page templates
  </span>
</a>


  
  </li>

  <li>
  
  
    

<button class="usa-accordion-button" aria-controls="nav-getting-started"
  
  aria-expanded="false"
  >
  Getting started
</button>
<ul id="nav-getting-started" class="usa-sidenav-sub_list">
  
  
  
  <li>
    
      

<a href="../../getting-started/">
  <span>
    Overview
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/getting-started/developers/">
  <span>
    For developers
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/getting-started/designers/">
  <span>
    For designers
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/performance/">
  <span>
    Performance guidelines
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/getting-started/code-guidelines/">
  <span>
    Code guidelines
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/getting-started/video-tutorials/">
  <span>
    Video tutorials
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/getting-started/implementations/">
  <span>
    Implementations
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/getting-started/showcase/">
  <span>
    Showcase
  </span>
</a>


    
  </li>


</ul>

  
  </li>

  <li>
  
  
    

<a href="../../design-principles/">
  <span>
    Design principles
  </span>
</a>


  
  </li>

  <li>
  
  
    

<button class="usa-accordion-button" aria-controls="nav-what-s-new"
  
  aria-expanded="false"
  >
  What’s new
</button>
<ul id="nav-what-s-new" class="usa-sidenav-sub_list">
  
  
  
  <li>
    
      

<a href="../../whats-new/">
  <span>
    Overview
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/whats-new/releases/">
  <span>
    Release notes
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/whats-new/updates/">
  <span>
    News and updates
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/whats-new/product-roadmap/">
  <span>
    Product roadmap
  </span>
</a>


    
  </li>

  
  <li>
    
      

<a href="/whats-new/research/">
  <span>
    Research
  </span>
</a>


    
  </li>


</ul>

  
  </li>


    </ul>
    <ul class="usa-button-list usa-unstyled-list">
  
</ul>

  </div>
</nav>


<aside class="sidenav sticky">
  
  
  <ul class="usa-sidenav-list">
    
  
  <li>
    
      

<a href="../../components/">
  
    Overview
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/typography/">
  
    Typography
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/colors/">
  
    Colors
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/accessibility/">
  
    Accessibility
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/grids/">
  
    Grids
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/buttons/">
  
    Buttons
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/labels/">
  
    Labels
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/tables/">
  
    Tables
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/alerts/">
  
    Alerts
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/accordions/">
  
    Accordions
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/form-controls/">
  
    Form controls
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/form-templates/" class="usa-current">
  
    Form templates
  
</a>

  
    
    
    
    
    
    <ul class="usa-sidenav-sub_list">
  
  <li>
    
      


<a href="#name-form">Name form</a>

    
  </li>

  
  <li>
    
      


<a href="#address-form">Address form</a>

    
  </li>

  
  <li>
    
      


<a href="#sign-in-form">Sign-in form</a>

    
  </li>

  
  <li>
    
      


<a href="#password-reset-form">Password reset form</a>

    
  </li>

</ul>
    
  


    
  </li>

  
  <li>
    
      

<a href="../../components/search-bar/">
  
    Search bar
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/sidenav/">
  
    Side navigation
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/headers/">
  
    Headers
  
</a>


    
  </li>

  
  <li>
    
      

<a href="../../components/footers/">
  
    Footers
  
</a>


    
  </li>


  </ul>
  
</aside>

<main id="main-content" class="main-content">

  <div class="styleguide-content usa-content">
    <header>
      
        
          <p class="site-subheading">UI components</p>
        
      
      <h1 id="form-templates">Form templates</h1>
      
    </header>

    
<p class="usa-font-lead">Patterns for some of the most commonly used forms on government websites</p>




    <h3 class="usa-heading heading-margin-alt">Accessibility</h3>

<p>As you customize these templates, make sure they meet the accessibility guidelines in this introduction and as described for each control.</p>

<ul class="usa-content-list">
  <li>Display form controls in the same order in HTML as they appear on screen. Do not use CSS to rearrange the form controls. Screen readers narrate forms in the order they appear in the HTML.</li>
  <li>Visually align validation messages with the input fields, so people using screen magnifiers can read them quickly.</li>
  <li>Group each set of thematically related controls in a fieldset element. Use the legend element to offer a label within each one. The fieldset and legend elements make it easier for screen reader users to navigate the form.</li>
  <li>Use a single legend for fieldset (this is required). One example of a common use of fieldset and legend is a question with radio button options for answers. The question text and radio buttons are wrapped in a fieldset, with the question itself being inside the legend tag.</li>
  <li>Embed multiple fieldsets and legends for more complex forms.</li>
  <li>Keep your form blocks in a vertical pattern. This approach is ideal, from an accessibility standpoint, because of limited vision that makes it hard to scan from right to left.</li>
</ul>

<h4>Supporting screen readers</h4>

<p><b>Note:</b> These code examples have been designed to support a range of screen readers. That said, they may not work with all versions.</p>

<h5>Known issues</h5>

<ul class="usa-content-list">
  <li>VoiceOver on iOS currently does not support fieldset and legend for forms. You can address this by using <code>aria-labelledby="for-attribute-of-label id-of-legend id-of-additional-info"</code> on each input in the fieldset. Using <code>aria-labelledby</code> will overwrite the default text read by the screen reader, so it is important to include all relevant information.</li>
  <li>VoiceOver on OS X currently does not support <code>aria-describedby</code>. Use <code>aria-labelledby</code> instead, and include all related fields, including, labels, legend, and hint text</li>
</ul>

<section id="section-/form-templates/01-name-form">
  <h2 class="usa-heading heading-margin-alt" id="name-form">Name form</h2>
  
    <p class="usa-font-lead">A standard template for collecting a person’s full name</p>
  
  <div class="preview ">
  


  <form class="usa-form">
    <fieldset>
      <legend>Name</legend>
      <label for="title">Title <span class="usa-input-label-helper">(optional)</span></label>
      <input class="usa-input-tiny" id="title" name="title" type="text" />

      <label for="first-name">First name</label>
      <input id="first-name" name="first-name" type="text" required="" aria-required="true" />

      <label for="middle-name">Middle name <span class="usa-input-label-helper">(optional)</span></label>
      <input id="middle-name" name="middle-name" type="text" />

      <label for="last-name">Last name</label>
      <input id="last-name" name="last-name" type="text" required="" aria-required="true" />

    </fieldset>
  </form>



</div>

<div class="usa-accordion-bordered usa-code-sample">
  
  <button class="usa-accordion-button" aria-controls="code-name-form">Code</button>
  <div id="code-name-form" class="usa-accordion-content">
    
<div class="language-html highlighter-rouge"><pre class="highlight"><code>


  <span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"usa-form"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;fieldset&gt;</span>
      <span class="nt">&lt;legend&gt;</span>Name<span class="nt">&lt;/legend&gt;</span>
      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"title"</span><span class="nt">&gt;</span>Title <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"usa-input-label-helper"</span><span class="nt">&gt;</span>(optional)<span class="nt">&lt;/span&gt;&lt;/label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"usa-input-tiny"</span> <span class="na">id=</span><span class="s">"title"</span> <span class="na">name=</span><span class="s">"title"</span> <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>

      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"first-name"</span><span class="nt">&gt;</span>First name<span class="nt">&lt;/label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"first-name"</span> <span class="na">name=</span><span class="s">"first-name"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">required</span> <span class="na">aria-required=</span><span class="s">"true"</span><span class="nt">&gt;</span>

      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"middle-name"</span><span class="nt">&gt;</span>Middle name <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"usa-input-label-helper"</span><span class="nt">&gt;</span>(optional)<span class="nt">&lt;/span&gt;&lt;/label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"middle-name"</span> <span class="na">name=</span><span class="s">"middle-name"</span> <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>

      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"last-name"</span><span class="nt">&gt;</span>Last name<span class="nt">&lt;/label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"last-name"</span> <span class="na">name=</span><span class="s">"last-name"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">required</span> <span class="na">aria-required=</span><span class="s">"true"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;/fieldset&gt;</span>
  <span class="nt">&lt;/form&gt;</span>



</code></pre>
</div>


  </div>
</div>

<div class="usa-accordion-bordered usa-accordion-docs">
  <button class="usa-button-unstyled usa-accordion-button" aria-expanded="true" aria-controls="name-form-docs">
    Documentation
  </button>
  <div id="name-form-docs" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>
    <ul class="usa-content-list">
      <li>As you customize this form template, ensure it continues to follow the <a href="/form-templates/">accessibility guidelines for form templates</a> and the <a href="/form-controls/">accessibility guidelines for form controls</a>.</li>
    </ul>
    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>
    <ul class="usa-content-list">
      <li>When you need to collect users’ full names and store the parts separately in a database.</li>
    </ul>
    <h5>When to consider something else</h5>
    <ul class="usa-content-list">
      <li>If you don’t need to parse out the separate pieces of a person’s name, consider letting them enter it into a single text field.</li>
    </ul>
    <h5>Guidance</h5>
    <ul class="usa-content-list">
      <li>Leave the title and suffix fields as text boxes instead of offering drop downs. There are many possible titles and suffixes; text boxes accommodate them all.</li>
      <li>Do not restrict the types of characters users can enter in any of these fields. Names can include characters outside the standard Roman alphabet.</li>
    </ul>
  </div>
</div>

</section>

<section id="section-/form-templates/02-address-form">
  <h2 class="usa-heading heading-margin-alt" id="address-form">Address form</h2>
  
  <p class="usa-font-lead">A standard template for entering a U.S. mailing or shipping address</p>

<div class="preview ">
  


  <form class="usa-form-large">
    <fieldset>
      <legend>Mailing address</legend>
      <label for="mailing-address-1">Street address 1</label>
      <input id="mailing-address-1" name="mailing-address-1" type="text" />

      <label for="mailing-address-2">Street address 2 <span class="usa-input-label-helper">(optional)</span></label>
      <input id="mailing-address-2" name="mailing-address-2" type="text" />

      <div>
        <div class="usa-input-grid usa-input-grid-medium">
          <label for="city">City</label>
          <input id="city" name="city" type="text" />
        </div>

        <div class="usa-input-grid usa-input-grid-small">
          <label for="state">State</label>
          <select id="state" name="state">
            <option value="">- Select -</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
            <option value="AA">AA - Armed Forces Americas</option>
            <option value="AE">AE - Armed Forces Africa</option>
            <option value="AE">AE - Armed Forces Canada</option>
            <option value="AE">AE - Armed Forces Europe</option>
            <option value="AE">AE - Armed Forces Middle East</option>
            <option value="AP">AP - Armed Forces Pacific</option>
          </select>
        </div>
      </div>

      <label for="zip">ZIP</label>
      <input class="usa-input-medium" id="zip" name="zip" type="text" pattern="[\d]{5}(-[\d]{4})?" />
    </fieldset>
  </form>



</div>

<div class="usa-accordion-bordered usa-code-sample">
  
  <button class="usa-accordion-button" aria-controls="code-address-form">Code</button>
  <div id="code-address-form" class="usa-accordion-content">
    
<div class="language-html highlighter-rouge"><pre class="highlight"><code>


  <span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"usa-form-large"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;fieldset&gt;</span>
      <span class="nt">&lt;legend&gt;</span>Mailing address<span class="nt">&lt;/legend&gt;</span>
      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"mailing-address-1"</span><span class="nt">&gt;</span>Street address 1<span class="nt">&lt;/label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"mailing-address-1"</span> <span class="na">name=</span><span class="s">"mailing-address-1"</span> <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>

      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"mailing-address-2"</span><span class="nt">&gt;</span>Street address 2 <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"usa-input-label-helper"</span><span class="nt">&gt;</span>(optional)<span class="nt">&lt;/span&gt;&lt;/label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"mailing-address-2"</span> <span class="na">name=</span><span class="s">"mailing-address-2"</span> <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>

      <span class="nt">&lt;div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-input-grid usa-input-grid-medium"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"city"</span><span class="nt">&gt;</span>City<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"city"</span> <span class="na">name=</span><span class="s">"city"</span> <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;/div&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-input-grid usa-input-grid-small"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"state"</span><span class="nt">&gt;</span>State<span class="nt">&lt;/label&gt;</span>
          <span class="nt">&lt;select</span> <span class="na">id=</span><span class="s">"state"</span> <span class="na">name=</span><span class="s">"state"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value</span><span class="nt">&gt;</span>- Select -<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AL"</span><span class="nt">&gt;</span>Alabama<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AK"</span><span class="nt">&gt;</span>Alaska<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AZ"</span><span class="nt">&gt;</span>Arizona<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AR"</span><span class="nt">&gt;</span>Arkansas<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"CA"</span><span class="nt">&gt;</span>California<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"CO"</span><span class="nt">&gt;</span>Colorado<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"CT"</span><span class="nt">&gt;</span>Connecticut<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"DE"</span><span class="nt">&gt;</span>Delaware<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"DC"</span><span class="nt">&gt;</span>District of Columbia<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"FL"</span><span class="nt">&gt;</span>Florida<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"GA"</span><span class="nt">&gt;</span>Georgia<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"HI"</span><span class="nt">&gt;</span>Hawaii<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"ID"</span><span class="nt">&gt;</span>Idaho<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"IL"</span><span class="nt">&gt;</span>Illinois<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"IN"</span><span class="nt">&gt;</span>Indiana<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"IA"</span><span class="nt">&gt;</span>Iowa<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"KS"</span><span class="nt">&gt;</span>Kansas<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"KY"</span><span class="nt">&gt;</span>Kentucky<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"LA"</span><span class="nt">&gt;</span>Louisiana<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"ME"</span><span class="nt">&gt;</span>Maine<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"MD"</span><span class="nt">&gt;</span>Maryland<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"MA"</span><span class="nt">&gt;</span>Massachusetts<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"MI"</span><span class="nt">&gt;</span>Michigan<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"MN"</span><span class="nt">&gt;</span>Minnesota<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"MS"</span><span class="nt">&gt;</span>Mississippi<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"MO"</span><span class="nt">&gt;</span>Missouri<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"MT"</span><span class="nt">&gt;</span>Montana<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"NE"</span><span class="nt">&gt;</span>Nebraska<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"NV"</span><span class="nt">&gt;</span>Nevada<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"NH"</span><span class="nt">&gt;</span>New Hampshire<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"NJ"</span><span class="nt">&gt;</span>New Jersey<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"NM"</span><span class="nt">&gt;</span>New Mexico<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"NY"</span><span class="nt">&gt;</span>New York<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"NC"</span><span class="nt">&gt;</span>North Carolina<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"ND"</span><span class="nt">&gt;</span>North Dakota<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"OH"</span><span class="nt">&gt;</span>Ohio<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"OK"</span><span class="nt">&gt;</span>Oklahoma<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"OR"</span><span class="nt">&gt;</span>Oregon<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"PA"</span><span class="nt">&gt;</span>Pennsylvania<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"RI"</span><span class="nt">&gt;</span>Rhode Island<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"SC"</span><span class="nt">&gt;</span>South Carolina<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"SD"</span><span class="nt">&gt;</span>South Dakota<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"TN"</span><span class="nt">&gt;</span>Tennessee<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"TX"</span><span class="nt">&gt;</span>Texas<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"UT"</span><span class="nt">&gt;</span>Utah<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"VT"</span><span class="nt">&gt;</span>Vermont<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"VA"</span><span class="nt">&gt;</span>Virginia<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"WA"</span><span class="nt">&gt;</span>Washington<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"WV"</span><span class="nt">&gt;</span>West Virginia<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"WI"</span><span class="nt">&gt;</span>Wisconsin<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"WY"</span><span class="nt">&gt;</span>Wyoming<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AA"</span><span class="nt">&gt;</span>AA - Armed Forces Americas<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AE"</span><span class="nt">&gt;</span>AE - Armed Forces Africa<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AE"</span><span class="nt">&gt;</span>AE - Armed Forces Canada<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AE"</span><span class="nt">&gt;</span>AE - Armed Forces Europe<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AE"</span><span class="nt">&gt;</span>AE - Armed Forces Middle East<span class="nt">&lt;/option&gt;</span>
            <span class="nt">&lt;option</span> <span class="na">value=</span><span class="s">"AP"</span><span class="nt">&gt;</span>AP - Armed Forces Pacific<span class="nt">&lt;/option&gt;</span>
          <span class="nt">&lt;/select&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;/div&gt;</span>

      <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"zip"</span><span class="nt">&gt;</span>ZIP<span class="nt">&lt;/label&gt;</span>
      <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"usa-input-medium"</span> <span class="na">id=</span><span class="s">"zip"</span> <span class="na">name=</span><span class="s">"zip"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">pattern=</span><span class="s">"[\d]{5}(-[\d]{4})?"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>
  <span class="nt">&lt;/form&gt;</span>



</code></pre>
</div>


  </div>
</div>

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button" aria-expanded="true" aria-controls="address-form-docs">
    Documentation
  </button>
  <div id="address-form-docs" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>
    <ul class="usa-content-list">
      <li>As you customize this form template, make sure it continues to follow the <a href="/form-templates/">accessibility guidelines for form templates</a> and the <a href="/form-controls/">accessibility guidelines for form controls</a>.</li>
      <li>Also make sure that the input masking on the ZIP field, which inserts a hyphen before the four-digit extension, is accessible to people using screen readers. We are using <a href="https://github.com/filamentgroup/politespace">Filament Group's Politespace</a> in the above demo.</li>
    </ul>
    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>
    <ul class="usa-content-list">
      <li>When you need to be able to parse out the specific parts of a mailing address.</li>
    </ul>
    <h5>When to consider something else</h5>
    <ul class="usa-content-list">
      <li>If you need to collect addresses that may not fit this format (for example, international addresses).</li>
      <li> If you don’t need to be able to parse out the individual pieces of an address, consider letting users type the entire address into one large text area. </li>
    </ul>
    <h5>Guidance</h5>
    <ul class="usa-content-list">
      <li>Only label the optional inputs. Users can infer that all the others are required.</li>
      <li>If possible, let users type their state’s abbreviation when they reach the state drop-down menu.</li>
      <li>Support both five- and nine-digit ZIP codes. Some addresses require a nine-digit ZIP code. If you would like to use an input mask, it should be “#####-####” so that the text is properly formatted, regardless of whether a user enters a five- or nine-digit ZIP code.</li>
    </ul>
    <h4 class="usa-heading">Upgrading address forms (pre version 0.14.0)</h4>
    <p>The Design System previously leveraged <a href="https://www.filamentgroup.com/lab/politespace.html">Politespace</a> as a way to implement input masking as part of this particular form template, specifically zip code inputs. Our guidance for upgrading is outlined in the following steps:</p>
    <ul>
      <li>Be sure to include <a href="https://jquery.com/">jQuery</a> with your assets and include it onto your page.</li>
      <li>Add the required Politespace files with your other 3rd party assets.</li>
      <li>Follow <a href="https://github.com/filamentgroup/politespace#using-politespace">the Politespace documentation</a> on how to implement with your form fields.</li>
    </ul>
    <p>For any questions or support, please feel free to reach out to the team at <a href="mailto:uswds@gsa.gov.">uswds@gsa.gov.</a></p>
  </div>
</div>

</section>

<section id="section-/form-templates/03-sign-in-form">
  <h2 class="usa-heading heading-margin-alt" id="sign-in-form">Sign-in form</h2>
  
    <p class="usa-font-lead">A template for signing a user into a website or app</p>
  
  <div class="preview ">
  

<form class="usa-form">
  <fieldset>
    <legend class="usa-drop_text">Sign in</legend>
    <span>or <a href="javascript:void(0);">create an account</a></span>

    <label for="username">Username or email address</label>
    <input id="username" name="username" type="text" autocapitalize="off" autocorrect="off" />

    <label for="password-sign-in">Password</label>
    <input id="password-sign-in" name="password" type="password" />
    <p class="usa-form-note">
      <a title="Show password" href="javascript:void(0);" class="usa-show_password" aria-controls="password-sign-in">Show password</a>
    </p>

    <input type="submit" value="Sign in" />
    <p><a href="javascript:void(0);" title="Forgot username">
      Forgot username?</a></p>
    <p><a href="javascript:void(0);" title="Forgot password">
      Forgot password?</a></p>
  </fieldset>
</form>



</div>

<div class="usa-accordion-bordered usa-code-sample">
  
  <button class="usa-accordion-button" aria-controls="code-sign-in-form">Code</button>
  <div id="code-sign-in-form" class="usa-accordion-content">
    
<div class="language-html highlighter-rouge"><pre class="highlight"><code>

<span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"usa-form"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;fieldset&gt;</span>
    <span class="nt">&lt;legend</span> <span class="na">class=</span><span class="s">"usa-drop_text"</span><span class="nt">&gt;</span>Sign in<span class="nt">&lt;/legend&gt;</span>
    <span class="nt">&lt;span&gt;</span>or <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span><span class="nt">&gt;</span>create an account<span class="nt">&lt;/a&gt;&lt;/span&gt;</span>

    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"username"</span><span class="nt">&gt;</span>Username or email address<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"username"</span> <span class="na">name=</span><span class="s">"username"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">autocapitalize=</span><span class="s">"off"</span> <span class="na">autocorrect=</span><span class="s">"off"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"password-sign-in"</span><span class="nt">&gt;</span>Password<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"password-sign-in"</span> <span class="na">name=</span><span class="s">"password"</span> <span class="na">type=</span><span class="s">"password"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"usa-form-note"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">title=</span><span class="s">"Show password"</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span>
        <span class="na">class=</span><span class="s">"usa-show_password"</span>
        <span class="na">aria-controls=</span><span class="s">"password-sign-in"</span><span class="nt">&gt;</span>Show password<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/p&gt;</span>

    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"Sign in"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p&gt;&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span> <span class="na">title=</span><span class="s">"Forgot username"</span><span class="nt">&gt;</span>
      Forgot username?<span class="nt">&lt;/a&gt;&lt;/p&gt;</span>
    <span class="nt">&lt;p&gt;&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span> <span class="na">title=</span><span class="s">"Forgot password"</span><span class="nt">&gt;</span>
      Forgot password?<span class="nt">&lt;/a&gt;&lt;/p&gt;</span>
  <span class="nt">&lt;/fieldset&gt;</span>
<span class="nt">&lt;/form&gt;</span>



</code></pre>
</div>


  </div>
</div>

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button" aria-expanded="true" aria-controls="signin-form-docs">
    Documentation
  </button>
  <div id="signin-form-docs" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>
    <ul class="usa-content-list">
      <li>As you customize this form template, make sure it continues to follow the <a href="/form-templates/">accessibility guidelines for form templates</a> and the <a href="/form-controls/">accessibility guidelines for form controls</a>.</li>
      <li>Don’t automatically sign out a user without giving them 20 seconds' advance notice to request more time. Users with disabilities sometimes require more time to respond to prompts.</li>
    </ul>
    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>
    <ul class="usa-content-list">
      <li>When users expect information to be customized or private, place it behind a sign-in form.</li>
    </ul>
    <h5>When to consider something else</h5>
    <ul class="usa-content-list">
      <li>Allow users to access as much as of your online services as possible without having to sign in. Sign-in forms are a barrier between users and the content they want.</li>
    </ul>
    <h5>Guidance</h5>
    <ul class="usa-content-list">
      <li>Less is more — make your explanations concise. Users sign in faster when less text surrounds the form.</li>
      <li>Allow people to use their email address to sign in. People have an easier time remembering their email address than they do a unique username.</li>
      <li>If you must include a sign-in form, consider allowing users to stay logged in (“Remember me”) on trusted computers so they can avoid this barrier in the future.</li>
      <li>Make it easy for users to retrieve a forgotten username and password. Most authentication failures occur because a user has forgotten their username or password. This is especially common when a long time passes between visits, as is the case with most federal websites.</li>
      <li>Password masking (replacing what the user types with a generic symbol) makes it more likely that users will make mistakes when trying to sign in, and doesn't offer much in the way of additional security. Allow users to unmask the password field so they can see what they type. This is especially useful on mobile devices, when users are more likely to mistype.</li>
    </ul>
  </div>
</div>

</section>

<section id="section-/form-templates/04-password-reset-form">
  <h2 class="usa-heading heading-margin-alt" id="password-reset-form">Password reset form</h2>
  
    <p class="usa-font-lead">A standard template for resetting a password</p>
  
  <div class="preview ">
  

<form class="usa-form">
  <fieldset>
    <legend class="usa-drop_text">Reset password</legend>
    <span class="usa-serif">Please enter your new password</span>

    <div class="usa-alert usa-alert-info">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Password information</h3>
        <p class="usa-alert-text">
          Length requirements
          <br />
          Character constraints, if any
        </p>
      </div>
    </div>

    <label for="password-reset">New password</label>
    <input id="password-reset" name="password" type="password" />

    <label for="confirmPassword">Confirm password</label>
    <input id="confirmPassword" name="confirmPassword" type="password" />
    <p class="usa-form-note">
      <a href="javascript:void(0);" class="usa-show_multipassword" aria-controls="password-reset confirmPassword">Show my typing</a>
    </p>

    <input type="submit" value="Reset password" />
  </fieldset>
</form>



</div>

<div class="usa-accordion-bordered usa-code-sample">
  
  <button class="usa-accordion-button" aria-controls="code-password-reset">Code</button>
  <div id="code-password-reset" class="usa-accordion-content">
    
<div class="language-html highlighter-rouge"><pre class="highlight"><code>

<span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"usa-form"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;fieldset&gt;</span>
    <span class="nt">&lt;legend</span> <span class="na">class=</span><span class="s">"usa-drop_text"</span><span class="nt">&gt;</span>Reset password<span class="nt">&lt;/legend&gt;</span>
    <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"usa-serif"</span><span class="nt">&gt;</span>Please enter your new password<span class="nt">&lt;/span&gt;</span>

    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert usa-alert-info"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"usa-alert-body"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"usa-alert-heading"</span><span class="nt">&gt;</span>Password information<span class="nt">&lt;/h3&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"usa-alert-text"</span><span class="nt">&gt;</span>
          Length requirements
          <span class="nt">&lt;br&gt;</span>
          Character constraints, if any
        <span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>

    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"password-reset"</span><span class="nt">&gt;</span>New password<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"password-reset"</span> <span class="na">name=</span><span class="s">"password"</span> <span class="na">type=</span><span class="s">"password"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"confirmPassword"</span><span class="nt">&gt;</span>Confirm password<span class="nt">&lt;/label&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">id=</span><span class="s">"confirmPassword"</span> <span class="na">name=</span><span class="s">"confirmPassword"</span> <span class="na">type=</span><span class="s">"password"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"usa-form-note"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"javascript:void(0);"</span>
        <span class="na">class=</span><span class="s">"usa-show_multipassword"</span>
        <span class="na">aria-controls=</span><span class="s">"password-reset confirmPassword"</span><span class="nt">&gt;</span>Show my typing<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;/p&gt;</span>

    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">value=</span><span class="s">"Reset password"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;/fieldset&gt;</span>
<span class="nt">&lt;/form&gt;</span>



</code></pre>
</div>


  </div>
</div>

<div class="usa-accordion-bordered">
  <button class="usa-button-unstyled usa-accordion-button" aria-expanded="true" aria-controls="password-reset-docs">
    Documentation
  </button>
  <div id="password-reset-docs" aria-hidden="false" class="usa-accordion-content">
    <h4 class="usa-heading">Accessibility</h4>
    <ul class="usa-content-list">
      <li>As you customize this form template, make sure it continues to follow the <a href="/form-templates/">accessibility guidelines for form templates</a> and the <a href="/form-controls/">accessibility guidelines for form controls</a>.</li>
    </ul>
    <h4 class="usa-heading">Usability</h4>
    <h5>When to use</h5>
    <ul class="usa-content-list">
      <li>To offer a way to easily reset a password any time users are able to sign in to your site.</li>
    </ul>
    <h5>Guidance</h5>
    <ul class="usa-content-list">
      <li>If users need a password to access your site, they will forget that password and need a way to reset it.</li>
      <li>For guidance on the technical details of validation, see the
        <a href="../../components/form-controls/#validation">validation documentation</a>.</li>
      <li>State any password requirements (for example, “Must include one capital letter”) up front. Don’t leave users guessing about password requirements, only to hit them with an error message later.</li>
      <li>For more guidance on password requirements, see NIST's <a href="https://github.com/usnistgov/800-63-3/blob/nist-pages/sp800-63b/appA_memorized.md">Appendix A—Strength of Memorized Secrets</a>.</li>
    </ul>
  </div>
</div>

</section>


  </div>

</main>


<footer class="usa-footer usa-footer-medium site" role="contentinfo">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-fourth">
        <img class="footer-main-img" src="/img/home/homepage_illustrations_best_easiest_2x.png" alt="">
      </div>
      <div class="usa-width-three-fourths footer-content">
        <h3>Become part of the community</h3>
        <p>The U.S. Web Design System has grown into a blossoming, open source community of government engineers, content specialists, and designers. We currently support dozens of agencies and more than 100 sites, which is fueled through an active community of contributors both in and out of government.</p>
        <div class="usa-grid-full footer-contact-links">
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="/img/home/icon-question.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Running into an issue?</h4>
                <a href="https://github.com/uswds/uswds/issues/new">
                  Ask questions on GitHub
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="/img/home/icon-slack.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Engage with the community</h4>
                <a href="https://chat.18f.gov/">
                  Join our Slack channel
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="/img/home/icon-envelope.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Reach the team</h4>
                <a href="mailto:uswds@gsa.gov">
                  Send us an email
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section-bottom">
    <div class="usa-grid">
      <div class="logo-links">
        <a href="http://www.gsa.gov/">
          <img src="/img/gsa-logo.svg" alt="GSA">
        </a>
      </div>
      <p>The U.S. Web Design System is a project of GSA’s <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">Technology Transformation Service</a>, maintained by the Office of Products and Programs.</p>
      <p>This website is hosted on <a href="https://federalist.fr.cloud.gov">Federalist</a>.</p>
    </div>
  </div>
</footer>


    	<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
	<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-48605964-43', 'gsa.gov');

	  // anonymize user IPs (chops off the last IP triplet)
	  ga('set', 'anonymizeIp', true);

	  // forces SSL even if the page were somehow loaded over http://
	  ga('set', 'forceSSL', true);

	  ga('send', 'pageview');
	</script>

<script src="/assets/js/styleguide.js"></script>

<script src="/assets/js/vendor/uswds.min.js"></script>

  </body>
</html>
